<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/imagenapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/imagenapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Screen 1: Splash Activity (7.0 seconds with Lottie) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Screen 2: Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 3: Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 4: Reset Password Activity -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 5 & 8: Register User Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 6: Main Menu Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 7: User Management Menu Activity -->
        <activity
            android:name=".UserMenuActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 9: User List Activity -->
        <activity
            android:name=".UserListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 10: Modify / Delete User Activity -->
        <activity
            android:name=".ModifyUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 11: Sensors Data Activity -->
        <activity
            android:name=".SensorsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Screen 12: Developers Data Activity -->
        <activity
            android:name=".DevelopersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- App Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Dedicated Add System User Activity -->
        <activity
            android:name=".AddUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Dedicated Add Sensor Activity -->
        <activity
            android:name=".AddSensorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
